<h1 *ngIf="post">{{post.title}}</h1>

<form *ngIf="post" (ngSubmit)="onSubmit()" #editPost="ngForm">

  <div *ngIf="errorMessage">{{errorMessage}}</div>

  <input [(ngModel)]="post._id" type="hidden" name="_id" id="_id">

  <div>
    <label for="title">Title</label>
    <input [(ngModel)]="post.title" type="text" name="title" id="title">
    <div *ngIf="errors.title">{{errors.title.message}}</div>
  </div>
  <br>
  <div>
    <label for="body">Body</label>
    <textarea [(ngModel)]="post.body" rows="15"
    name="body" id="body"></textarea>
    <div *ngIf="errors.body">{{errors.body.message}}</div>
  </div>
  <br>
  <div>
    <label for="description">Description</label>
    <input [(ngModel)]="post.description" type="text" name="description" id="description">
  </div>
  <br>
  <div>
    <label for="keywords">Keywords</label>
    <input [(ngModel)]="post.keywords" type="text" name="keywords" id="keywords">
  </div>
  <br>
  <button type="submit">Submit</button>

</form>
