button {
  background: #0000ff;
  border: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
}
.navLink {
  color: rgb(26, 73, 5);
}
.navLink:hover {
  background: rgb(26, 73, 5);
  color: #fff;
}
ul {
  list-style-type: none;
  margin-left: -10px;
}
